@tailwind base;
@tailwind components;
@tailwind utilities;

body,html{
    background-color: #000000 !important;
    padding:0px !important;
    margin: 0px !important;
}

*{
    box-sizing: border-box;
}